<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1><%= continent.name %></h1>

      <p><%= continent.description %></p>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>