body {
    padding-top: 65px;
}

.userActionForm {
    margin-top: 7%;
    margin-left: 27%;
    padding-left: 30px;
    width: 500px;
    border-left: 1px solid black;
}

#continents{
    margin: 4%;
    width: 150px;
    height: 150px;
    text-align: center;
    padding: 5%;
}

.continentImage {
    margin-top: 30px;
    width: 90%;
    height: 90%;
    max-height: 600px;
    border: 1px solid black;
}

.countries {
    margin: 4%;
    width: 150px;
    height: 100px;
    text-align: center;
    padding: 5%;
}