<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
        <% include ../static/partials/messages.ejs %>

      <h1><%= country.name %></h1>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>